.header__lang-link {
  color: white;
  text-decoration: none;
  line-height: 28px;
  font-size: 24px;
}

.header__lang-link:hover {
  opacity: 80%;
  transition-duration: 0.3s;
}

@media screen and (max-width: 320px) {
  .header__lang-link {
    font-size: 18px;
    line-height: 111%;
    
  }
}

