.place__image {
  max-height: 460px;
  max-width: 460px;
  margin-top: 48px;
  margin-right: 40px;

}


@media screen and (max-width: 1024px){
  .place__image {
    max-height: 440px;
    max-width: 440px;
    margin-right: 32px;
  }
  
}

@media screen and (max-width: 980px){
  .place__image {
    max-height: 380px;
    max-width: 380px;
  }
  
}

@media screen and (max-width: 768px){
  .place__image {
    max-height: 340px;
    max-width: 340px;
    margin-right: 28px;
  }
  
}

@media screen and (max-width: 690px){
  .place__image {

    margin-top: 32px;
    margin-right: 0;
    width: 100vw;
    max-width: 390px;
    
  }
   
}

@media screen and (max-width: 475px){
  .place__image {
    max-width: 475px;
   object-fit: cover;
  }
   
}

