.place__paragraph {
  margin: 24px 0 0;
  font-size: 18px;
  line-height: 163%;
  max-width: 484px;
}

.place__paragraph:first-child {
  margin-top: 48px;
}
  
@media screen and (max-width: 768px) {
  .place__paragraph {
     font-size: 16px;
  }
}

@media screen and (max-width: 475px) {
  .place__paragraph {
    margin: 24px 16px 0;
  
  }
  .place__paragraph:first-child {
    margin-top: 32px;
  }
}


