.lead__main-illustration {
  max-height: 615px;
  max-width: 100%;
  object-fit: cover;
}

@media screen and (max-width: 768px) {
  .lead__main-illustration {
    width: 100vw;
    margin: 0;
  }
}


