.cover__title {
  font-weight: 900;
  font-size: 72px;
  line-height: 76px;
  margin: 0;
  max-width: 560px;
  text-align: center;
  position: relative;
  z-index: 2;
 
}

@media screen and (max-width: 525px) {   
  .cover__title {
    font-size: 55px;
    line-height: 109%;
    max-width: 350px;
  
  }
}


@media screen and (max-width: 475px) {  
  .cover__title {
    font-size: 32px;
   
  }
}