.header__list {
  margin: 0;
  display: flex;
  justify-content: row;
  padding-bottom: 6px;
  padding-left: 0;
}


@media screen and (max-width: 320px) {
  .header__list {
    padding-bottom: 8px;
  }
}