.place__website {
  max-width: 484px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;

}

@media screen and (max-width: 400px) {
  .place__website {
    width: 352px; 
    margin-top: 24px;
  }
} 

@media screen and (max-width: 690px) {  /*320*/
  .place__website {
    display: none;
  }
}  